//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=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